# Projeto 2 - Ciência dos Dados

Nome: Carlos Andrade Inacio

Nome: Carlos Felipe Borges Mesquita

___
Carregando algumas bibliotecas:

In [11]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [12]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Cafeb\OneDrive\Documentos\CDADOS\cdados_projeto2

Carregando a base de dados

In [13]:
filename = 'AllResults1.csv'

In [14]:
train = pd.read_csv(filename)
train

,PPID,PP,EAL,SEN,HML,Re,Wr,Ma,Att8Est,Att8Act,Att8Diff,EngEst,EngAct,EngDiff,MathsEst,MathsAct,MathsDiff,EbaccEst,EbaccAct,EbaccDiff
0,617,1.0,0,0.0,NaN,NaN,NaN,NaN,NaN,1.9,NaN,NaN,1.5,NaN,NaN,2.0,NaN,NaN,0.0,NaN
1,283,1.0,1,0.0,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,3.0,NaN,NaN,5.5,NaN,NaN,3.7,NaN
2,75,0.0,0,0.0,M,NaN,NaN,3,2.9,4.1,1.17,3.5,4.0,0.54,2.9,4.0,1.13,1.9,1.3,-0.57
3,1019,1.0,0,0.0,L,NaN,NaN,3,2.2,3.5,1.26,2.8,4.0,1.18,2.0,3.0,0.98,1.2,2.0,0.84
4,474,0.0,0,0.0,L,3C,3B,N,1.7,2.9,1.21,2.2,3.0,0.76,1.3,3.0,1.65,0.7,2.0,1.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,174,1.0,0,0.0,M,4B,4,4B,3.9,5.0,1.08,4.3,6.0,1.67,3.6,4.0,0.36,3.5,4.3,0.82
1033,812,1.0,0,0.0,M,5B,3,4C,4.3,3.1,-1.18,4.7,3.0,-1.71,4.1,3.0,-1.08,4.0,3.0,-0.97
1034,425,1.0,0,1.0,H,5B,4,5C,5.5,5.2,-0.30,5.8,6.0,0.20,5.4,4.0,-1.44,5.4,5.3,-0.05
1035,376,1.0,0,0.0,M,5C,4,4B,4.7,1.7,-3.03,5.1,4.0,-1.13,4.6,3.0,-1.58,4.5,1.0,-3.49
1036,11,0.0,0,0.0,M,4B,4,4C,3.7,3.6,-0.09,4.2,5.0,0.83,3.4,3.0,-0.44,3.3,2.3,-0.98

In [15]:
train = train.drop(columns=['PPID','Att8Est','Att8Act','Att8Diff','EngEst','EngAct','EngDiff','MathsEst','MathsAct','MathsDiff','EbaccEst','EbaccAct','EbaccDiff'])
train

       PP  EAL  SEN  HML   Re   Wr   Ma
0     1.0    0  0.0  NaN  NaN  NaN  NaN
1     1.0    1  0.0  NaN  NaN  NaN  NaN
2     0.0    0  0.0    M  NaN  NaN    3
3     1.0    0  0.0    L  NaN  NaN    3
4     0.0    0  0.0    L   3C   3B    N
...   ...  ...  ...  ...  ...  ...  ...
1032  1.0    0  0.0    M   4B    4   4B
1033  1.0    0  0.0    M   5B    3   4C
1034  1.0    0  1.0    H   5B    4   5C
1035  1.0    0  0.0    M   5C    4   4B
1036  0.0    0  0.0    M   4B    4   4C

[1037 rows x 7 columns]

In [16]:
# PP = Pupil Premium - The pupil premium is additional funding for publicly funded schools in England.
# EAL = English as an additional language
# SEN = Special Education Needs (True or False)
# HML = Ability based on previous Data (Higher, Middle, Lower)
# Re = Reading Grade from age 10
# Wr = Writing Grade from age 10
# Ma = Maths Grade from age 10

In [21]:
# numerificação das notas 
# https://www.northoxfordshire-academy.org/Portals/0/Letters%20Sent%20Home/Target%20Setting%20Year%2011%20Explained%202016%2017.pdf?ver=2016-10-31-144606-610
grades = {'N' : '0', 'B' : '5', '3C' : '4', '3B' : '4', '3A' : '4', '4C' : '5', '4B' : '5', '4A' : '6', '5C' : '7', '5B' : '8', '5A' : '8', '6C' : '8', '6B' : '9', '6A' : '10'}

df = train

def update_grades(column, dataframe):
    for k, v in enumerate(dataframe[column]):
        if v in grades.keys():
            dataframe[column][k] = grades[v]

def update_average(dataframe, index):
    count = 0
    average = 0
    Re = -1 if pd.isna(dataframe['Re'][index]) else int(dataframe['Re'][index])
    Wr = -1 if pd.isna(dataframe['Wr'][index]) else int(dataframe['Wr'][index])
    Ma = -1 if pd.isna(dataframe['Ma'][index]) else int(dataframe['Ma'][index])

    if Re >= 0:
        count += 1
        average += Re
    if Wr >= 0:
        count += 1
        average += Wr
    if Ma >= 0:
        count += 1
        average += Ma

    if count > 0:
        average /= count
    
    return average
            
update_grades('Re', df)
update_grades('Wr', df)
update_grades('Ma', df)       


# criar coluna de média
average = []
for i in range(len(df['Re'])):
    average.append(update_average(df, i))

df['AVG'] = average

In [22]:
# correlação média com PP
pp_avg = df.loc[:,["PP", "AVG"]]
corr = pp_avg.corr()

print('A correlação entre o PP e a média das notas é negativa, o que indica que se o aluno pagar o financiamento adicional, a média de notas dele é menor.')
corr

A correlação entre o PP e a média das notas é negativa, o que indica que se o aluno pagar o financiamento adicional, a média de notas dele é menor.

           PP       AVG
PP   1.000000 -0.119484
AVG -0.119484  1.000000

In [23]:
# correlação média com EAL
eal_avg = df.loc[:,["EAL", "AVG"]]
corr = eal_avg.corr()

print('A correlação entre o EAL e a média das notas é negativa, o que indica que se o inglês não for a linguagem nativa do estudante, suas notas são mais baixas.')
corr

A correlação entre o EAL e a média das notas é negativa, o que indica que se o inglês não for a linguagem nativa do estudante, suas notas são mais baixas.

          EAL       AVG
EAL  1.000000 -0.206433
AVG -0.206433  1.000000

In [24]:
# correlação média com SEN
sen_avg = df.loc[:,["SEN", "AVG"]]
corr = sen_avg.corr()

print('A correlação entre o SEN e a média das notas é negativa, o que indica que se o aluno tiver necessidades especiais, suas notas não menores.')
corr

A correlação entre o SEN e a média das notas é negativa, o que indica que se o aluno tiver necessidades especiais, suas notas não menores.

          SEN       AVG
SEN  1.000000 -0.114002
AVG -0.114002  1.000000

In [39]:
#transformando os valores da coluna HML
# H(Higher) = 2 -- M(Middle) = 1 -- L(Lower) = 0
df.loc[df.HML=='H']= 2
df.loc[df.HML=='M']= 1
df.loc[df.HML=='L']= 0

In [40]:
#Regressao linear
import statsmodels.formula.api as smf
reg = smf.ols(formula='AVG~EAL+SEN+HML+Re+Wr+Ma', data=df).fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    AVG   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.071e+32
Date:                Tue, 01 Jun 2021   Prob (F-statistic):               0.00
Time:                        20:13:23   Log-Likelihood:                 32671.
No. Observations:                 987   AIC:                        -6.534e+04
Df Residuals:                     984   BIC:                        -6.532e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.234e-15   7.76e-17    -15.907      0.000   -1.39e-15   -1.08e-15
HML[T.1]       0.0714   1.52e-17   4.71e+15      0.000       0.071       0.071
HML[T.2]       0.1429   7.88e-18   1.81e+16      0.000       0.143       0.143
Re[T.1]        0.0714   1.52e-17   4.71e+15      0.000       0.071       0.071
Re[T.2]        0.1429   7.88e-18   1.81e+16      0.000       0.143       0.143
Wr[T.1]        0.0714   1.52e-17   4.71e+15      0.000       0.071       0.071
Wr[T.2]        0.1429   7.88e-18   1.81e+16      0.000       0.143       0.143
Ma[T.1]        0.0714   1.52e-17   4.71e+15      0.000       0.071       0.071
Ma[T.2]        0.1429   7.88e-18   1.81e+16      0.000       0.143       0.143
EAL            0.3571   1.91e-17   1.87e+16      0.000       0.357       0.357
SEN            0.3571   1.91e-17   1.87e+16      0.000       0.357       0.357
==============================================================================
Omnibus:                     7998.474   Durbin-Watson:                   0.037
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              125.404
Skew:                           0.471   Prob(JB):                     5.87e-28
Kurtosis:                       1.529   Cond. No.                     1.81e+49
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.7e-95. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""